.login-page {
  margin: 0;
  min-height: 100vh;
  background-color: darkcyan;
}
.container0{
min-height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: center;       
 
}
.container0 form {
  background: white;
  padding: 30px;
  border-radius: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.15);

}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 10px; 
}

.forget section {
  display: flex;
  align-items: center;
}


.forget button {
 transition: .3s;
 border-radius: 3px;
  background-color: darkcyan;;
  
 
  font-size: 14px;
}

.forget button:hover { background-color: cornflowerblue;
}
.sub{
    margin-top: 10px;
     width: 100%;
    height: 40px;
    background: #222;
    border-radius: 30px;
     transition: .3s;
    background-color:darkcyan;;
}
.sub:hover{
    background-color: cornflowerblue;
}
.no{
  text-decoration: none;
}
.no:hover{
  color: #222;
}